%div#logo= link_to_function("word<span>rainbow</span>", "Panel.switchTo('home')")

%ul#nav
	%li.mix= link_to_function("Mix.", "Panel.switchTo('mix')", :class => 'mix')
	%li.identify= link_to_function("Identify.", "Panel.switchTo('identify')", :class => 'identify')
	%li.visualize= link_to_function("Visualize.", "Panel.switchTo('visualize')", :class => 'visualize')
		
%ul#panels
	
	%li.home
		= link_to_function("<img src='static/images/logo.png'>", "Panel.switchTo('mix')", :class => "logo")
		
	%li.mix
	
		%form{:autocomplete => "off"}
			%input{:name => "hex", :type => "hidden", :class => "hex"}
			%input{:name => "name", :type => "text", :class => "name", :autocomplete => "off"}
			%input{:type => "submit", :class => "submit", :value => "Save"}
			= link_to_function("Skip", "Mixer.skipColor();", :class => "skip")
			= link("Hint", "http://wordnik.com/word/red", :class => "hint", :target => "_blank")
			
		= link_to_function("Next", "Mixer.nextColor();", :class => "next_color", :style => "display:none")

		%ul#slider_labels
			%li Hue
			%li Saturation
			%li Lightness

		%ul#sliders
			%li#hue_slider
			%li#saturation_slider
			%li#lightness_slider
			
	%li.identify
		%h1	Identify
		%p What color is this?
		
		%div.swatch
		
		%form{:autocomplete => "off"}
			%input{:name => "hex", :type => "hidden", :class => "hex"}
			%input{:name => "name", :type => "text", :class => "name", :autocomplete => "off"}
			%input{:type => "submit", :class => "submit", :value => "Save"}

	
	%li.visualize
		%h1	Visualize
		%p Choose a name. See how others have mixed it. Coming soon.
		%p Choose a color. Find names near it. Coming soon.
		%ul.names
		%ul.codes

		
%ul#footer
	%li
		Powered by 
		= link('@wordnik', "http://twitter.com/wordnik")
		and the
		= link('@wordnikapi', "http://twitter.com/wordnikapi")