%div#logo= link_to_function("word<span>rainbow</span>", "Panel.switchTo('home')")

%ul#nav
	%li.identify= link_to_function("Identify.", "Panel.switchTo('identify')", :class => 'identify')
	%li.mix= link_to_function("Mix.", "Panel.switchTo('mix')", :class => 'mix')
	%li.visualize= link_to_function("Visualize.", "Panel.switchTo('visualize')", :class => 'visualize')
		
%ul#panels
	
	%li.home
		= link_to_function(img('logo.png'), "Panel.switchTo('identify')", :class => "logo")

	%li.identify

	
		Identify
	
	%li.mix
	
		%div.swatch

		%ul#slider_labels
			%li Hue
			%li Saturation
			%li Lightness
	
		%ul#sliders
			%li#hue_slider
			%li#saturation_slider
			%li#lightness_slider
			
		%form
			%input{:name => "hex", :type => "hidden", :class => "hex"}
			%input{:name => "name", :type => "text", :class => "name"}
			%input{:type => "submit", :class => "submit", :value => "Save"}
	
	%li.visualize
		Visualize
		
%ul#footer
	%li
		Powered by 
		= link('@wordnik', "http://twitter.com/wordnik")
		and the
		= link('@wordnikapi', "http://twitter.com/wordnikapi")